In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [3]:
data_path = os.path.join(os.pardir, 'data')

In [5]:
weather_path = os.path.join(data_path, "Cleaned Data/weather_final.csv")
state_path = os.path.join(data_path, "Cleaned Data/state_final.csv")
soil_path = os.path.join(data_path, "Cleaned Data/soil_final.csv")

In [6]:
weather_df = pd.read_csv(weather_path)
soil_df = pd.read_csv(soil_path)
state_df = pd.read_csv(state_path)

In [8]:
weather_df.district.unique(), len(weather_df.district.unique())

(array(['bankura', 'birbhum', 'coochbehar', 'dinajpur dakshin',
        'darjeeling', 'howrah', 'hooghly', 'jalpaiguri', 'malda',
        'murshidabad', 'nadia', '24 paraganas north', 'paschim bardhaman',
        'medinipur west', 'purba bardhaman', 'medinipur east', 'purulia',
        '24 paraganas south', 'dinajpur uttar'], dtype=object),
 19)

In [10]:
soil_df.Dist_Name.unique(), len(soil_df.Dist_Name.unique())

(array(['nadia', 'murshidabad', 'birbhum', 'bankura', 'hooghly', 'howrah',
        'jalpaiguri', 'darjeeling', 'malda', 'coochbehar', 'purulia',
        '24 paraganas north', '24 paraganas south', 'dinajpur uttar',
        'dinajpur dakshin', 'medinipur east', 'medinipur west',
        'paschim bardhaman', 'purba bardhaman'], dtype=object),
 19)

In [11]:
state_df.District.unique(), len(state_df.District.unique())

(array(['24 paraganas north', '24 paraganas south', 'bankura', 'birbhum',
        'coochbehar', 'darjeeling', 'dinajpur dakshin', 'dinajpur uttar',
        'hooghly', 'howrah', 'jalpaiguri', 'malda', 'medinipur east',
        'medinipur west', 'murshidabad', 'nadia', 'purba bardhaman',
        'purulia', 'paschim bardhaman'], dtype=object),
 19)

In [12]:
state_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12323 entries, 0 to 12322
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   District                12323 non-null  object
 1   Year                    12323 non-null  object
 2   Season                  12323 non-null  object
 3   Area (Hectare)          12323 non-null  float64
 4   Production (Tonnes)     12307 non-null  float64
 5   Yield (Tonnes/Hectare)  12323 non-null  float64
 6   Crop                    12323 non-null  object
 7   State                   12323 non-null  object
dtypes: float64(3), object(5)
memory usage: 770.3+ KB

In [13]:
soil_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Dist_Code                    19 non-null     int64
 1   State_Code                   19 non-null     int64
 2   State_Name                   19 non-null     object
 3   Dist_Name                    19 non-null     object
 4   SOIL_TYPE_PERCENT_(Percent)  19 non-null     object
 5   ORTHIDS                      9 non-null      float64
 6   UDUPTS/UDALFS                8 non-null      float64
 7   USTALF/USTOLLS               3 non-null      float64
 8   INCEPTISOLS                  7 non-null      float64
dtypes: float64(4), int64(2), object(3)
memory usage: 1.5+ KB

In [14]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 35 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   MyUnknownColumn                                 494 non-null    int64
 1   year                                            494 non-null    int64
 2   mean_temperature_2m_max (Â°C)_quarter1          494 non-null    float64
 3   mean_temperature_2m_max (Â°C)_quarter2          494 non-null    float64
 4   mean_temperature_2m_max (Â°C)_quarter3          494 non-null    float64
 5   mean_temperature_2m_max (Â°C)_quarter4          494 non-null    float64
 6   mean_temperature_2m_min (Â°C)_quarter1          494 non-null    float64
 7   mean_temperature_2m_min (Â°C)_quarter2          494 non-null    float64
 8   mean_temperature_2m_min (Â°C)_quarter3          494 non-null    float64
 9   mean_temperature_2m_min (Â°C)_quarter4          494 non-null    float64
 10  mean_temperature_2m_mean (Â°C)_quarter1         494 non-null    float64
 11  mean_temperature_2m_mean (Â°C)_quarter2         494 non-null    float64
 12  mean_temperature_2m_mean (Â°C)_quarter3         494 non-null    float64
 13  mean_temperature_2m_mean (Â°C)_quarter4         494 non-null    float64
 14  mean_rain_sum (mm)_quarter1                     494 non-null    float64
 15  mean_rain_sum (mm)_quarter2                     494 non-null    float64
 16  mean_rain_sum (mm)_quarter3                     494 non-null    float64
 17  mean_rain_sum (mm)_quarter4                     494 non-null    float64
 18  mean_wind_speed_10m_max (km/h)_quarter1         494 non-null    float64
 19  mean_wind_speed_10m_max (km/h)_quarter2         494 non-null    float64
 20  mean_wind_speed_10m_max (km/h)_quarter3         494 non-null    float64
 21  mean_wind_speed_10m_max (km/h)_quarter4         494 non-null    float64
 22  mean_relative_humidity_2m (%)_quarter1          494 non-null    float64
 23  mean_relative_humidity_2m (%)_quarter2          494 non-null    float64
 24  mean_relative_humidity_2m (%)_quarter3          494 non-null    float64
 25  mean_relative_humidity_2m (%)_quarter4          494 non-null    float64
 26  mean_soil_temperature_0_to_7cm (Â°C)_quarter1   494 non-null    float64
 27  mean_soil_temperature_0_to_7cm (Â°C)_quarter2   494 non-null    float64
 28  mean_soil_temperature_0_to_7cm (Â°C)_quarter3   494 non-null    float64
 29  mean_soil_temperature_0_to_7cm (Â°C)_quarter4   494 non-null    float64
 30  mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter1  494 non-null    float64
 31  mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter2  494 non-null    float64
 32  mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter3  494 non-null    float64
 33  mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter4  494 non-null    float64
 34  district                                        494 non-null    object
dtypes: float64(32), int64(2), object(1)
memory usage: 135.2+ KB

In [15]:
weather_df.describe()

,MyUnknownColumn,year,mean_temperature_2m_max (Â°C)_quarter1,mean_temperature_2m_max (Â°C)_quarter2,mean_temperature_2m_max (Â°C)_quarter3,mean_temperature_2m_max (Â°C)_quarter4,mean_temperature_2m_min (Â°C)_quarter1,mean_temperature_2m_min (Â°C)_quarter2,mean_temperature_2m_min (Â°C)_quarter3,mean_temperature_2m_min (Â°C)_quarter4,...,mean_relative_humidity_2m (%)_quarter3,mean_relative_humidity_2m (%)_quarter4,mean_soil_temperature_0_to_7cm (Â°C)_quarter1,mean_soil_temperature_0_to_7cm (Â°C)_quarter2,mean_soil_temperature_0_to_7cm (Â°C)_quarter3,mean_soil_temperature_0_to_7cm (Â°C)_quarter4,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter1,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter2,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter3,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter4
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,...,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000
mean,317.657895,2009.500000,27.205986,33.126663,30.339168,27.012157,15.289117,24.556685,24.964824,17.574025,...,86.746315,74.440832,22.480320,29.775612,28.024462,23.061406,0.193871,0.298393,0.405831,0.257338
std,176.848758,7.507603,3.827312,3.976177,2.728326,3.110099,3.167963,3.461157,2.581180,2.815951,...,1.854237,3.294246,3.821863,4.023174,2.754231,3.119231,0.052618,0.055762,0.022061,0.047744
min,26.000000,1997.000000,10.526667,17.156044,18.544565,12.810870,1.190110,9.694505,13.453261,4.931522,...,81.253170,65.556159,5.068223,12.785852,16.002717,8.107065,0.119852,0.179832,0.348594,0.168870
25%,149.250000,2003.000000,26.848077,32.656593,30.570924,27.178804,14.786944,24.186264,25.231250,17.477174,...,85.859601,72.195652,22.012851,29.083127,28.327264,23.073188,0.156652,0.255772,0.395752,0.221075
50%,350.500000,2009.500000,28.071667,33.976374,30.967391,27.702717,15.713333,25.426374,25.574457,18.127717,...,86.541214,74.234601,23.297708,30.845604,28.668071,23.778691,0.179486,0.294484,0.402434,0.250576
75%,473.750000,2016.000000,28.962778,35.256319,31.273370,28.173370,16.724444,26.243956,25.844022,18.827174,...,87.280571,76.013813,24.340370,31.905082,28.956476,24.261560,0.212957,0.336843,0.409467,0.280674
max,597.000000,2022.000000,31.304444,38.731868,33.166304,29.303261,20.830769,28.219780,26.678261,21.222826,...,94.375906,84.878623,26.785000,34.473443,30.136051,25.781793,0.372896,0.423341,0.496208,0.429951

In [16]:
state_df.describe()

       Area (Hectare)  Production (Tonnes)  Yield (Tonnes/Hectare)
count    1.232300e+04         1.230700e+04            12323.000000
mean     1.916854e+04         7.220320e+05              427.252544
std      1.431017e+05         4.937430e+06             2356.444016
min      1.000000e+00         7.040000e-01                0.000000
25%      1.080000e+02         9.800000e+01                0.680876
50%      5.960000e+02         8.400000e+02                1.198830
75%      4.657000e+03         1.749900e+04                2.710030
max      8.580100e+06         7.509500e+07            38800.000000